PORT='enter you port here'
NODE_ENV="development"

# PostgreSQL Connection
DATABASE_URL="Data base connection string"

# Frontend URL for CORS
FRONTEND_URL='YOUR FRONTEND URL'

# Authentication
SECRET_KEY=your_secret_key_here_at_least_32_characters
